*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.blanco{
  width: 100%;
  height: 100px;

}

.container{
  margin: 0px 3%;
  background: grey;
  position:absolute;
  display: flex;
  align-items: flex-end;
  border-radius: 20px;
}

#teclado{
  width: 96%;
  height: 60%;
  background: white;
  position:relative;
  margin:0px 3%;
  display: flex;
  flex-flow: row wrap;
}

.teclaBlanca{
  position: relative;
  width: 7.14%;
  height: 100%;
  border-radius: 0px 0px 7px 7px;
  border: 1px solid black;
}

.teclaNegra{
  position: absolute;
  width: 4.5%;
  border-radius: 0px 0px 7px 7px;
  height: 60%;
  z-index: 100px auto;
  background: black;
}

/*
  Pantalla de escritorio grande - Large (lg)
*/

@media(min-width:1200px){
  .container{height: 520px; width: 94%; }
  .tecNeg1{ left: 5.1%; }
  .tecNeg2{  left: 12%; }
  .tecNeg3{ left: 26.2%; }
  .tecNeg4{  left: 33.5%; }
  .tecNeg5{  left: 40.5%; }
  .tecNeg6{  left: 55%; }
  .tecNeg7{  left: 62%; }
  .tecNeg8{  left: 76.3%; }
  .tecNeg9{  left: 83.5%; }
  .tecNeg10{  left: 90.5%; }
}

/*
  Pantalla de escritorio mediano - Medium (md)
*/

@media(max-width:1199px) and (min-width:992px){
  .container{ height: 480px; width: 94%; }
  .tecNeg1{ left: 5.1%; }
  .tecNeg2{  left: 12%; }
  .tecNeg3{ left: 26.2%; }
  .tecNeg4{  left: 33.5%; }
  .tecNeg5{  left: 40.5%; }
  .tecNeg6{  left: 55%; }
  .tecNeg7{  left: 62%; }
  .tecNeg8{  left: 76.3%; }
  .tecNeg9{  left: 83.5%; }
  .tecNeg10{  left: 90.5%; }
}

/*
  Pantalla de Tablet - Small (sm)
*/

@media(max-width:991px) and (min-width:768px){
  .container{ height: 420px; width: 94%; }
  .tecNeg1{ left: 5.1%; }
  .tecNeg2{  left: 12%; }
  .tecNeg3{ left: 26.2%; }
  .tecNeg4{  left: 33.5%; }
  .tecNeg5{  left: 40.5%; }
  .tecNeg6{  left: 55%; }
  .tecNeg7{  left: 62%; }
  .tecNeg8{  left: 76.3%; }
  .tecNeg9{  left: 83.5%; }
  .tecNeg10{  left: 90.5%; }
}

/*
Pantalla de moviles - Estra Small (xs)
*/

@media(max-width:767px){
  .container{height: 350px; width: 94%; }
  .tecNeg1{ left: 5.1%; }
  .tecNeg2{  left: 12%; }
  .tecNeg3{ left: 26.2%; }
  .tecNeg4{  left: 33.5%; }
  .tecNeg5{  left: 40.5%; }
  .tecNeg6{  left: 55%; }
  .tecNeg7{  left: 62%; }
  .tecNeg8{  left: 76.3%; }
  .tecNeg9{  left: 83.5%; }
  .tecNeg10{  left: 90.5%; }
}
